*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f2f5f9;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:500px;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 0 20px rgba(0,0,0,0.2);
}

h1{
    text-align:center;
    margin-bottom:25px;
    color:#1e3a8a;
}

label{
    display:block;
    margin-top:15px;
    margin-bottom:5px;
    font-weight:bold;
}

input{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
}

input:focus{
    outline:none;
    border:2px solid #1e88e5;
}

button{
    width:100%;
    margin-top:25px;
    padding:12px;
    border:none;
    background:#1e88e5;
    color:white;
    font-size:18px;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#1565c0;
}

.result{
    margin-top:30px;
    padding:20px;
    border-radius:10px;
    background:#eef6ff;
    border-left:6px solid #1e88e5;
}

.result h2{
    text-align:center;
    margin-bottom:15px;
    color:#1e3a8a;
}

.result p{
    margin:10px 0;
    font-size:18px;
}